.background {
    background: url('https://www.publicdomainpictures.net/pictures/230000/velka/scenic-landscape-1499784730rFj.jpg');
    height: calc(100vh - calc( 91.87px));
    background-size: cover;
    box-shadow: 0px 4px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,.5);
    background-position: center calc(100vh - 91.875);
    padding: 3rem 2rem;
}